$small: 300px;
$medium: 900px;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.b-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .b-menu {
    float: right;
    margin-left: 10px;
  }
  .b-logo {
    height: 60px;
    @media (max-width: $medium) {
      height: 40px;
    }
    img {
      height: 100%;
    }
  }
}
.upload-area {
  border: 1px solid #999;
}
.popup-form {
  width: 600px;
  @media (max-width: $medium) {
    width: 100%;
  }
}
.MuiSpeedDialAction-staticTooltipLabel {
  min-width: 150px !important;
}
